@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;700&family=Noto+Sans:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
.video-background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  ;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.shadow1 {
  box-shadow: blue 0px 0px 0px 2px;
}

.bg_gradient {
  @apply bg-gradient-to-t from-slate-900 to-transparent top-0
} 

.btn {
  @apply px-4 py-[0.35rem] rounded-lg transition-a sm:cursor-pointer !uppercase flex-shrink-0;
}

.btn-primary {
  @apply bg-primary text-white hover:bg-[#f7751e] shadow-md shadow-primary/60;
}

.filter {
  @apply w-full px-3 py-2 border outline-none dark:border-dark bg-slate-100 dark:bg-dark-light;
}

/* Check box & radio box */
.input-check label,
.input-radio label {
  @apply relative flex items-center cursor-pointer select-none;
}

.input-check input[type="checkbox"],
.input-radio input[type="radio"] {
  @apply absolute opacity-0 cursor-pointer;
}

.input-check label::before {
  content: "";
  @apply w-4 h-4 mr-2 border rounded border-primary;
}

.input-check input[type="checkbox"]:checked + label::before {
  content: "✔";
  @apply grid place-items-center text-slate-100 text-[0.7rem] bg-primary;
}

.input-radio label::before {
  content: "";
  @apply w-4 h-4 mr-2 rounded-full border !border-primary;
}
.input-radio label::after {
  content: "";
  @apply absolute w-2 h-2 top-1/2 left-0 -translate-y-1/2 scale-0 ml-[0.25rem] bg-primary transition-a rounded-full;
}

.input-radio input[type="radio"]:checked + label::after {
  @apply scale-100 -translate-y-1/2;
}

